{% extends "base.html" %}

{% block content %}
<!--TABLE_BUDGET_("/")-->
<div class="container text-center pt-4">
  <div class="row g-5">
    
    <div class="col-md-4">
      <div class="p-2">Budget</div>
      <div class="p-4">{{ budget }} F CFA</div>
    </div>

    <div class="col-md-4">
      <div class="p-2">Dépense</div>
      <div class="p-4">{{ spent }} F CFA</div>
    </div>

    <div class="col-md-4">
      <div class="p-2">Solde</div>
      <div class="p-4">{{ solde }} F CFA</div>
    </div>

  </div>
</div>

<!--TABLE_REVENU_("/")-->
<div class="container pt-5">
<h4>Liste des Revenus</h4>
  <table class="table table-bordered">

    <thead>
      <tr class="colorer">  
        <th class="col-title">Titre</th>
        <th class="col-amount">Montant</th>
        <th class="col-action">Action</th>
      </tr>
    </thead>

    <tbody>
      {% for revenus in rev_data %}
        <td>{{ revenus.title }}</td>
        <td>{{ revenus.amount }} F CFA</td>
        <td>
          <a href="{{ url_for('delete_revenu', id=revenus.id) }}" class="btn btn-danger">Supprimer</a>
        </td>  
      </tr>
      {% endfor %}
  
      <tr>
        <td class="button_add">
          <a href="/page2">AJOUTER REVENU</a>
          <a href="/page2" class="fa-solid fa-circle-plus"></a>
        </td>
        <td></td>
        <td></td>
      </tr>
    </tbody>

  </table>
</div>


<!--TABLE_DEPENSE_("/")-->
<div class="container pt-5">
<h4>Liste des Dépenses</h4>
  <table class="table table-bordered">

    <thead>
      <tr class="colorer">
        <th class="col-title">Titre</th>
        <th class="col-amount">Montant</th>
        <th class="col-action">Action</th>
      </tr>
    </thead>
    
    <tbody>
      {% for spents in dep_data %}
      <tr>
        <td>{{ spents.title }}</td>
        <td>{{ spents.amount }} F CFA</td>
        <td>
          <a href="{{ url_for('delete_depense', id=spents.id) }}" class="btn btn-danger">Supprimer</a>
        </td>
      </tr>
      {% endfor %}

      <tr>
        <td class="button_add">
          <a href="/page3">AJOUTER DEPENSE</a>
          <a href="/page3" class="fa-solid fa-circle-plus"></a>
        </td>
        <td></td>
        <td></td>
      </tr>     
    </tbody>
  </table>
</div>


{% endblock content %}

