{% extends "base.html" %}

{% block content %}

<!---verification--->

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Budget</th>
        <th>Dépenses</th>
        <th>Solde</th>
      </tr>
    </thead>
    
    <tbody>    
      
      <tr>
        <td>{{ budget }}</td>
        <td>{{ spent }}</td>
        <td>{{ solde }}</td>
      </tr>
   
    </tbody>

  </table>
</div>



<div class="table-responsive">
  <h4>Liste des Revenus</h4>
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Montant</th>
        <th>Action</th>
      </tr>
    </thead>
    
    <tbody>
      {% for eles in rev_data %}
      <tr>
        <th>{{ eles.title }}</th>
        <th>{{ eles.amount }}</th>
        
        <th>
            <a href="/delete/{{eles.id}}">Supprimer</a>
        </th>  
      </tr>
      {% endfor %}
    </tbody>

    <tbody>
      <tr>
        <th><a href="/page2">ajouter</a></th>
      </tr>
    </tbody>

  </table>
</div>



<div class="table-responsive">
  <h4>Liste des Dépenses</h4>
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Montant</th>
        <th>Action</th>
      </tr>
    </thead>
    
    <tbody>

      {% for ele in dep_data %}
      <tr>
        <th>{{ ele.title }}</th>
        <th>{{ ele.amount }}</th>
        
        <th>
            <a href="/delete/{{ele.id}}">Supprimer</a>
        </th> 

      </tr>
      {% endfor %}

    </tbody>  

    <tbody>
      <tr>
        <th><a href="/page3">ajouter</a></th>
      </tr>
    </tbody>

  </table>
</div>

{% endblock content %}

